# Terraform ignore
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan

.terraformrc
terraform.rc

*.tfvars
*backend.conf

**/deployment/deploy.json

# ignore any log and lock file
*.log
*.lock*

# Packer ignore
*.pkrvars.hcl