options {
	directory "/var/cache/bind";
	forwarders {
		{{dns}};
	};

	dnssec-validation auto;

	listen-on-v6 { any; };

	allow-query { any; };
};

zone "{{ dns_domain_name }}" IN {
    type master;
    file "/etc/bind/domain.zone";
};
